<% provide :title, t(".title_sign") %>
<% provide :button_text, t(".create_my_user") %>
  <h1><%= t ".title_sign" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "users/form" %>
  </div>
</div>
